<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TakeMyAttendance</title>
</head>
<body style="display: flex; align-items: center;justify-content: center;height: 100vh;color:#e8e6e3 ;background-color:#181a1b ;">
   <div style="border: 12px solid rgb(3, 134, 3); padding: 25px;">  
     <form action="/test" method="post">

          <label for="date">Date </label>
          <input type="date" name = "date"  required >
          <button type="submit">Show</button>
     </form>
</div>
     
</body>
</html>